<%- include('partials/header') %>
<body>

    <div class="container">
        <img class="img_404" src="../images/man-you-stupid-doughboy.gif" alt="">
    </div>
</body>
<%- include('partials/footer') %>