<%- include('partials/header') %>

<body>
<div class="container1 container">
    <form method="post" action="/">
      <div class="brand-logo"></div>
      <div class="brand-title">WEATHER MONITORING</div>
    
      <div class="inputs">
        <label>CITY NAME</label>
        <input autocomplete="off" name="cityName" type="text" placeholder="Mumbai" />
        <button type="submit">CHECK</button>
    </form>   
</div>    
</body>    

<%- include('partials/footer') %>